{% load static %}
<!DOCTYPE>
<html>

<head>
  <title>INVOICE</title>
  <link rel="stylesheet" href="{% static 'assets/billcss/bootstrap.min.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <style>
    * {
      border: none;
      box-sizing: content-box;
      color: inherit;
      font-family: Arial;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: top;
    }

    html {
      overflow: auto;
      padding: 0.3in;
    }

    html {
      background: #999;
      cursor: default;
    }

    body {
      box-sizing: border-box;
      height: 11in;
      margin: 0 auto;
      padding: 0.1in;
      width: 8.5in;
    }

    body {
      background: #fff;
      border-radius: 1px;
      box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    }

    .hideextra {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /* header */

    header {
      margin: 0 0 3em;
    }

    header:after {
      clear: both;
      content: "";
      display: table;
    }

    .actions {
      position: fixed;
      top: 40%;
      left: 20px;
      transform: translate(0px, -40%);
    }

    @page {
      size: A4;
    }

    @media print {

      #printPageButton,
      #addItem,
      #download,
      .home {
        display: none;
      }
    }
  </style>
</head>

<body>
  <main style="padding: 10px">
    <div style="margin: 16px;" id='invoice'>

      <p><a href="{% url 'consignment' %}" class="home">Home</a></p>

      <h1>&nbsp;</h1>
      <h3 style="font-family: 'Sigmar One', cursive; font-size: 42px; font-weight:900">New Hemkunt</h3>
      <h3 class="text-center hideextra" style="width: 480px; position: relative; top: -66px; left: 150px">
        GOLDEN MAHARASHTRA ROADWAYS
      </h3>
      <span class='hide' id='pdf-title'>{{ consignment.id }}</span>


      <h6 class="text-center" style="transform: translateY(-65px); font-size: 14px">
        FLEET OWNER AND TRANSPORT CONTRACTOR & COMMISSION AGENTS<br />H.O :
        Brahmani Tarang, Vedvyas, Near Gurudawar, Rourkela-769004<br /><b
          style="letter-spacing: 0.8px; text-decoration: underline">GSTIN: 21ANLPS9749N2Z1</b><br />
        <b style="letter-spacing: 0.8px; ">Contact : 9437048969 / 9437074969</b><br /><b
          style="letter-spacing: 0.8px;">Email : newhemkunt@gmail.com</b><br />
      </h6>

      <section style="transform: translateY(-70px)">
        <table class="table table-condensed table-bordered table-responsive" style="width: 730px">
          <tr>
            <td colspan="3">Bilty No.New Hemkunt : <b>{{consignment.nhrt_no}}</b></td>
            <td colspan="3" style="text-align: right">
              DATE : <b>{{ consignment.date | date:"d/m/Y" }}</b>
            </td>
          </tr>
        </table>

        <aside style="transform: translateY(-20px)">
          <table class="table table-bordered table-condensed" style="width: 730px">
            <tr>
              <td colspan="3">Details of Consignor</td>

              <td colspan="3">Details of Consignee</td>
            </tr>

            <tr>
              <td colspan="3">
                <h6 style="letter-spacing: 0.8px">
                  Name:{{consignment.consignor.name}}<br />
                  Address: {{consignment.consignor.address}}<br />
                  GSTIN: {{consignment.consignor.gstin}}<br />
                </h6>
              </td>

              <td colspan="3">
                <h6 style="letter-spacing: 0.8px">
                  Party : <b>{{consignment.consignee.name}}</b><br />
                  Address: <b>{{consignment.consignee.address}}</b><br />
                  GSTIN :<b>{{consignment.consignee.gstin}}</b><br />
                </h6>
              </td>
            </tr>
          </table>

          <table id="items" class="table table-condensed table-bordered table-responsive" style="
              transform: translateY(-20px);
              color: black;
              border: 1px solid black;
              width: 730px;
            ">
            <tr class="text-center">
              <th style="text-align: left">From : {{consignment.source}}</th>
              <th style="text-align: left">To : {{consignment.destination}}</th>
              <th style="text-align: left">Truck No : {{consignment.truck.truck_number}}</th>
            </tr>
          </table>

          <table id="items" class="table table-condensed table-bordered table-responsive" style="
              transform: translateY(-20px);
              color: black;
              border: 1px solid black;
              width: 730px;
            ">
            <tr style="text-align: left; font-size: 13px">
              <td colspan="6">
                Description : <b>{{consignment.goods}}</b>
              </td>
            </tr>
            {% comment %} <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">Discount (₹)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.discount}}</b>
              </td>
            </tr> {% endcomment %}
            <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">Weight (MT)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.weight}}</b>
              </td>
            </tr>
            <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">Rate/MT (₹)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.rate}}</b>
              </td>
            </tr>
            <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">Freight (₹)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.freight | floatformat:2 }}</b>
              </td>
            </tr>
            <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">Less Advance (₹)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.advance | floatformat:2 }}</b>
              </td>
            </tr>
            <tr class="hideextra" style="text-align: right">
              <td colspan="4">
                <b style="font-size: 14px">To Be Billed (₹)</b>
              </td>

              <td colspan="2">
                <b>{{consignment.remaining_payment | floatformat:2 }}</b>
              </td>
            </tr>

            <tr class="hideextra" style:"font-size:13px; font-weight:900; text-align:left;">
              <td colspan="6">

                <h5>E Way Bill No. <b
                    style="text-decoration: underline dotted;; letter-spacing: 0.5px">{{consignment.e_way_bill}}</b>
                </h5>
                <h5>Consignor Invoice No. <b
                    style="text-decoration: underline dotted; letter-spacing: 0.5px">{{consignment.invoice_no}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Value : <b style="text-decoration: underline dotted;">{{consignment.goods_value}}</b>

                  <h5>&nbsp;</h5>
                  <p>
                    Our Bank: AXIS BANK LTD.<br />
                    Account No: 918020015662314<br />
                    IFSC CODE: UTIB0001067
                  </p>
                  <p style="font-size: 16px;"><b>Note : {{consignment.comment}}</b></p>
              </td>
            </tr>

            <tr class="hideextra" style:"font-size:13px; font-weight:900;">
              <td colspan="5" style="text-align:right">
                <img src="{% static 'assets/sign.jpg' %}" style="width: 200px ; height:130px" ;>

              </td>
            </tr>
          </table>


        </aside>

      </section>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-default" id="printPageButton" onclick="window.print()">
        Print
      </button>


      <div id='addItem' class="d-flex align-items-center flex-wrap text-nowrap">
        <br>
        <a style="text-decoration: none;" href="{% url 'trip' consignment.id %}">
          <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="plus"></i>

            Add Trip
          </button>
        </a>
      </div>


      <div class="d-flex align-items-center flex-wrap text-nowrap">
        <br>

        <button id="download" type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
          <i class="btn-icon-prepend" data-feather="plus"></i>

          Download
        </button>
      </div>
    </div>
  </main>

  <script src="{% static 'assets/jss/jquery-1.3.2.min.js' %} "></script>

</body>

</html>
<script>

  document.getElementById("download")
    .addEventListener("click", () => {
      const invoice = this.document.getElementById("invoice");
      var opt = {
        // margin: 1,
        filename: `consignment_id_${document.getElementById('pdf-title').innerText}.pdf`,
        image: { type: 'jpeg', quality: 1 },
        html2canvas: { scale: 3 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
      };
      html2pdf().from(invoice).set(opt).save();
    })
</script>