{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Hemkunt</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
  </head>

  <body>
    <div class="main-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'includes/nav.html' %}

      <div class="page-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content"></div>
        </nav>
        <!-- partial -->

        <div class="page-content">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">{{heading}}</h6>
                  <div class="table-responsive">
                    <input
                      type="search"
                      id="myInput"
                      onkeyup="myFunction()"
                      placeholder="Search"
                      class="form-control"
                    />
                    <table id="myTable" class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Address</th>
                          <th>GSTIN</th>
                          <th>Balance</th>
                          <th>Ledger</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for party in parties %}
                        <tr>
                          <td>{{ party.name }}</td>
                          <td>{{ party.address }}</td>
                          <td>{{ party.gstin }}</td>
                          <td>{{ party.balance }}</td>
                          <td>
                            <a href="{% url 'ledger' party.id %}">View</a>
                          </td>
                          <td>
                            <a
                              href="/admin/finance/party/{{party.id}}/change/"
                              target="_blank"
                              >Edit</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer
          class="
            footer
            d-flex
            flex-column flex-md-row
            align-items-center
            justify-content-between
          "
        >
          <p class="text-muted text-center text-md-left">
            © 2021 New Hemkunt. All rights reserved
          </p>
        </footer>
        <!-- partial -->
      </div>
    </div>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
          // Hide the row initially.
          tr[i].style.display = "none";

          td = tr[i].getElementsByTagName("td");
          for (var j = 0; j < td.length; j++) {
            cell = tr[i].getElementsByTagName("td")[j];
            if (cell) {
              if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                break;
              }
            }
          }
        }
      }
    </script>
    <script src="{% static 'assets/vendors/core/core.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
    <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
  </body>
</html>
