{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Hemkunt</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar">
        <div class="sidebar-header">
          <a href="" class="sidebar-brand">New Hemkunt</a>
          <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="sidebar-body">
          {% include './includes/nav.html' %}
        </div>
      </nav>

      <div class="page-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content"></div>
        </nav>
        <!-- partial -->

        <div class="page-content">
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">RECEIPT</h6>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      {% comment %}
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">LR NUMBER</label><br />
                          <input
                            type="text"
                            name="supplier_id"
                            autocomplete="off"
                            class="form-control"
                            style="
                              font-size: 18px;

                              font-weight: bold;
                            "
                          />
                        </div>
                      </div>
                      {% endcomment %}
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Date</label><br />
                          <input type="date"
                          name="date"
                          value="{% now 'Y-m-d' %}"
                          class="form-control" required="" style="font-size:
                          18px;  font-weight: bold;">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Party Name</label><br />
                          <input
                          type="text"
                          name="party"
                          class="form-control"
                          style="font-size: 18px; font-weight: bold"
                          list="parties"
                        />
                         <datalist id="parties">
                        {% for party in parties %}
                          <option value="{{party.name}}~{{party.id}}">{{party.party_type}}</option>
                        {% endfor %}
                        </datalist>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Mode</label><br />
                          <select name="mode">
                            <option value="CASH">CASH</option>
                            <option value="BANK">BANK</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Amount</label><br />
                          <input
                            value='0'
                            type="text"
                            name="value"
                            class="form-control"
                            style="
                              font-size: 18px;

                              font-weight: bold;
                            "
                          />
                        </div>
                      </div>
                    </div>
                      <div class="col">
                      <br />
                        <div class="form-group">
                          <label class="control-label">Note</label><br />
                          <textarea class="form-control" name="comment"></textarea>
                        </div>
                      </div>
                    <button type="submit" class="btn btn-success submit">
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer
          class="footer d-flex flex-column flex-md-row align-items-center justify-content-between"
        >
          <p class="text-muted text-center text-md-left">
             © 2021 New Hemkunt </a>.
            All rights reserved
          </p>
        </footer>
        <!-- partial -->
      </div>
    </div>

    <!-- core:js -->
    <script src="{% static 'assets/vendors/core/core.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
    <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
  </body>
</html>
