{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Hemkunt</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'includes/nav.html' %}
      <div class="page-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content"></div>
        </nav>
        <!-- partial -->

        <div class="page-content" id="trip">
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Trip</h6>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Date</label><br />
                          <input
                            type="date"
                            name="date"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                            value = "{% now "Y-m-d" %}"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Party</label><br />
                          <input
                          value="{{trip.party}}"
                            type="text"
                            name="party"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      {% comment %}
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Invoice NO </label><br />
                          <input
                            type="text"
                            name="invoice_no"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      {% endcomment %}
                      <!-- <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Date</label><br />
                          <input
                            type="date"
                            name="date"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div> -->
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Consignment</label><br />
                          <input
                          value="{{ consignment.id }}"
                            type="text"
                            name="consignment"
                            class="form-control"
                            required
                            readonly
                            style="font-size: 18px; font-weight: bold"
                            {% comment %} list='consignments' {% endcomment %}
                          />
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="control-label">Truck</label
                          ><br />
                          <input
                          value="{{ trip.truck }}"
                            type="text"
                            name="truck"
                            autocomplete="off"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                            list='trucks'
                          />
                        </div>
                      </div>
                      <datalist id="trucks">
                        {% for t in trucks %}
                          <option value="{{t.truck_number}}"></option>
                        {% endfor %}
                        </datalist>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="control-label">FROM</label><br />
                          <input
                          value="{{ consignment.source }}"
                            type="text"
                            name="source"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="control-label">TO</label><br />
                          <input
                          value="{{ consignment.destination }}"
                            type="text"
                            name="destination"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Trucker Name</label
                          ><br />
                          <input
                            type="text"
                            name="trucker_name"
                            v-model="trucker_name"
                            @change="get_trucker()"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                            list="truckers"
                          />
                        </div>
                      </div>
                      <datalist id="truckers">
                        {% for t in truckers %}
                          <option value="{{ t.name }}">
                            {{t.name}} : {{t.address}}
                          </option>
                        {% endfor %}
                      </datalist>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Trucker GSTIN/PAN</label
                          ><br />
                          <input
                            type="text"
                            name="trucker_gstin"
                            v-model="trucker_gstin"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Trucker's Address</label
                          ><br />
                          <input
                            type="text"
                            name="trucker_address"
                            v-model="trucker_address"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Trucker Phone</label
                          ><br />
                          <input
                            type="text"
                            name="trucker_phone"
                            v-model="trucker_phone"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Goods Description</label
                          ><br />
                          <input
                            type="text"
                            name="goods"
                            class="form-control"
                            value="{{consignment.goods}}"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Guarantee</label
                          ><br />
                          <input
                          value="{{ trip.guarantee }}"
                            type="text"
                            name="guarantee"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Driver Name</label
                          ><br />
                          <input
                          value="{{ trip.driver_name }}"
                            type="text"
                            name="driver_name"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label"
                            >Mobile No.</label
                          ><br />
                          <input
                          value="{{ trip.contact_number }}"
                            type="text"
                            name="contact_number"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <hr />
                    <h5>Expense(s)</h5><br>
                    <table>
                      <tr>
                        <th>Sl.</th>
                        <th>Payment Mode</th>
                        <th>Value</th>
                      </tr>
                      <tr v-for="(n,i) in expenses">
                        <div class="row">
                          <td>
                            <div class="form-group">
                              {% verbatim %}
                              <button
                                type="button"
                                class="btn btn-black btn-icon"
                                v-cloak
                              >
                                {{i+1}}.
                              </button>
                              {% endverbatim %}
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input
                                type="text"
                                name="mode"
                                v-model="n.mode"
                                class="form-control"
                                style="
                                  font-size: 18px;
                                "
                                list="modes"
                              />
                            </div>
                            <datalist id='modes'>
                              {% for mode in modes %}
                                <option value="{{ mode }}"></option>
                              {% endfor %}
                            </datalist>
                          </td>
                          <td>
                            <div class="form-group">
                              <input
                                type="text"
                                name="value"
                                v-model="n.value"
                                @change='calculate_freight()'
                                class="form-control"
                                style="font-size: 18px;"
                              />
                            </div>
                          </td>
                          {% comment %} <td>
                            <div class="form-group">
                              <input
                                type="text"
                                name="expense_comment"
                                v-model="n.comment"

                                class="form-control"
                                style="font-size: 18px;"
                              />
                            </div>
                          </td> {% endcomment %}
                          <td>
                            <div class="form-group">
                              <button
                                type="button"
                                class="btn btn-danger btn-icon"
                                @click="removeExpenseRow(i)"
                                style="font-size: 18px; "
                              >
                                <b>X</b>
                              </button>
                            </div>
                          </td>
                          <!-- </div> -->
                        </div>
                        <!-- Row -->
                      </tr>
                    </table>

                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                          <!-- <label class="control-label">&nbsp;</label><br /> -->
                          <button
                            type="button"
                            class="btn btn-primary btn-icon" @click="addExpenseRow()"
                          >
                            <i data-feather="plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <hr />
                    {% comment %} <h5>Fuel</h5>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Diesel Brand</label
                          ><br />
                          <input
                          value="{{ diesel.company }}"
                            type="text"
                            name="diesel_brand"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Value</label
                          ><br />
                          <input
                            type="text"
                            name="diesel_value"
                            v-model="diesel"
                            @change="calculate_freight()"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div> {% endcomment %}

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Rate</label
                          ><br />
                          <input
                            type="text"
                            name="rate"
                            v-model="rate"
                            @change="calculate_freight()"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Weight(MT)</label
                          ><br />
                          <input
                            type="text"
                            name="weight"
                            v-model="weight"
                            @change="calculate_freight()"
                            class="form-control"
                            required
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Freight</label><br />
                          <input
                            type="text"
                            name="freight"
                            v-model="freight"
                            @change="calculate_freight()"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Bill Type</label><br />
                          <select
                            class="js-example-basic-single w-100"
                            data-width="100%"
                            style="font-size: 18px; font-weight: bold"
                            name="remaining_payment_type"
                          >
                            <option value="To Pay">To Pay</option>
                            <option value="To Be Billed">To Be Billed</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Remaining Amount</label
                          ><br />
                          <input
                            type="text"
                            name="remaining_payment"
                            v-model="remaining_payment"
                            readonly
                            value="0"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Weight (MT)</label><br />
                          <input
                            type="text"
                            name="weight"
                            v-model="weight"
                            class="form-control"
                            @change="calculate_freight()"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Rate/MT</label><br />
                          <input
                            type="text"
                            name="rate"
                            v-model="rate"
                            @change="calculate_freight()"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Freight</label><br />
                          <input
                            type="text"
                            name="freight"
                            v-model="freight"
                            readonly
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Payment Mode</label
                          ><br />
                          <input
                            type="text"
                            name="advance_mode"

                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                            list="modes"
                          />
                           <datalist id="modes">
                          {% for m in modes %}
                            <option value="{{m.name}}"> {{p.name}} </option>
                          {% endfor %}
                          </datalist>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Advance</label><br />
                          <input
                            type="text"
                            name="advance"
                            v-model="advance"
                            @change="calculate_freight()"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Bill Type</label><br />
                          <select
                            class="js-example-basic-single w-100"
                            data-width="100%"
                            style="font-size: 18px; font-weight: bold"
                            name="remaining_payment_type"
                          >
                            <option value="To Pay">To Pay</option>
                            <option value="To Be Billed">To Be Billed</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Remaining Amount</label
                          ><br />
                          <input
                            type="text"
                            name="remaining_payment"
                            v-model="remaining_payment"
                            readonly
                            value="0"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">End of Trip</label><br />
                          <input
                            type="date"
                            name="end_date"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                            value = "{{trip.end_date}}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label class="control-label">Comment</label><br />
                          <input
                            type="text"
                            name="comment"
                            value = "{{trip.comment}}"
                            class="form-control"
                            style="font-size: 18px; font-weight: bold"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button
                        type="submit"
                        class="btn btn-success submit"
                        style="float: right"
                      >
                        Update Trip
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer
          class="
            footer
            d-flex
            flex-column flex-md-row
            align-items-center
            justify-content-between
          "
        >
          <p class="text-muted text-center text-md-left">
            &copy; 2021 <a href=""> New Hemkunt</a>
          </p>
          <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">
            Designed & Developed By : <a href="http://strix.co.in/"> Strix</a>
          </p>
        </footer>
        <!-- partial -->
      </div>
    </div>

    <!-- core:js -->
    <script src="{% static 'assets/vendors/core/core.js' %}"></script>
    <script src="{% static 'assets/vendors/Vue/vue.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
    <script src="{% static 'assets/js/tripUpdate.js' %}"></script>
    <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
  </body>
</html>
